<br/>
<br/>
<hr/>
<span style="font-family:Trebuchet MS;
font-size:9pt;color:#555555">TR This message was intended for {$email_to}.
    If you do not wish to receive this type of email from Riiwards in the future,
    please <a target="_blank" href="{$unsubscribe_url}">Click Here</a>  to unsubscribe. Email <a  target="_blank" href="mailto:support@riiwards.com?subject={$subject}">support@riiwards.com</a> for help with unsubscribing.  <br/>
    Riiwards, Inc. offices are located at 4695 Chabot Drive, Suite 200, Pleasanton, CA 94588.
</span>

