
<table width="750px"  bgcolor="f3f7fc" cellspacing="0" cellpadding="0" border="0" align="center" style="border-width:5px; border-color:#ae0d0d;border-style: solid">
   <tr valign="top">
        <td width="15%">
            <table cellspacing="3" cellpadding="3" border="0" style="padding-left: 1px;">
                <tbody>
                <tr valign="middle" align="center">
                     <td>
					      <img height="41" border="0" alt="nuVIP Reward" src="http://dev.riiwards.com/nuvip_images/riiwards_icon.png"/>
                     </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                 <tr valign="middle" align="center">
                     <td style="color: rgb(174, 13, 13); font-size: 16px; font-family: Helvetica;" align="">
                       <b>Geburtstagsgeschenk!</b>
                      </td>
                </tr>

                </tbody>
            </table>
        </td>

        <td width="85%">
            <table cellspacing="3" cellpadding="3" border="0" align="center" style="padding-left: 5px;">
                <tbody>

                 <tr valign="top">
                    <td width="5%" valign="top" style="font-family: Helvetica; font-size:14px"> Reward:</td>
                    <td width="95%" style="font-size: 14px; color: rgb(174, 13, 13); font-family: Helvetica;">
                    <span style="font-size: 14px;font-weight:bold">|reward_text|<br/></span>
                    <span style="font-size: 12px">Das Geschenk verf&auml;llt eine Woche nach dem Geburtstag.<br/></span>

                    <span style="font-size: 12px">|rwd_code|<br/></span>

                    <!-- <a href="|member_club_link|" target="_blank" >View More Rewards ></a> -->

                    </td>
                </tr>

                 <tr valign="top">
                    <td width="5%" style="font-family: Helvetica;font-size:14px">For:</td>
                    <td width="95%" style="font-size: 14px; font-family: Helvetica;">
                        <b>|recipient_email|</b>
                    </td>
                </tr>

                 <tr valign="top">
                    <td width="5%" style="font-family: Helvetica;font-size:14px">From:


                    </td>
                    <td width="95%" style="font-size: 14px; font-family: Helvetica;">
                        <!-- <a href="|member_club_link|" target="_blank" ><b>|member_org_name|</b></a> <br/> -->
                        <b>|member_org_name|<br/>
                        <span style="font-size: 12px;color:#444444"><br/>Geschenk f&uuml;r deinen Geburtstag. KANN NICHT MIT anderen Angeboten, Rabatten, Geschenkkarten oder Geschenkzertifikaten zusammen eingel&ouml;st werden.</span>
                     </td>
                </tr>



                </tbody>
            </table>
        </td>

    </tr>

</table>

<br/>

<!--
<span style="font-family:Helvetica ;font-size: 16px;color: #AE0D0D;text-decoration: none;">Share with Friends:&nbsp;</span>Do you know any friends who would enjoy our FREE Birthday Gift? Then ask them to sign up free at |merchant_sign-up_link|. Email or share on <a href="http://www.facebook.com">www.facebook.com</a>, <a href="http://www.twitter.com">www.twitter.com</a>, <a href="http://www.linkedin.com">www.linkedIn.com</a>.</span>
</span>
-->
